@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    #header {
        display: none;
    }
    #header2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }
    .menu2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .menu-hamburger {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        span::after {
            content: "";
            border-bottom: 2px solid black;
            display: block;
            width: 20px;
            margin-bottom: 4px;
        }
    }
    .logotipo {
        margin: auto 70px;
    }
    .txtBusca {
        font-size: 13px;
        border: none;
        width: 400px;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #7a7a7a;
        background: url(../img-icons/Icon-1.png) no-repeat right center;
    }
    #carousel {
        background-image: url("../img-icons/MaskGroup1.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
        #itens {
            display: none;
        }
    }
    .info {
        display: block;
        width: 180px;
        color: #fff;
        font-size: 2em;
        margin-left: 30px;
        margin-top: 60px;
        &::after {
            content: "";
            display: block;
            border-bottom: 5px solid $cor-detalhes-padrao;
            width: 60px;
            height: 10px;
        }
    }
    .container {
        margin-left: 0px;
    }
    .secao-produtos {
        padding-top: 70px;
        width: 100vw;
        h3 {
            margin-left: 30px;
        }
    }
    .no-mobile {
        display: none;
    }
    .previous,
    .next {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: 400px;
        .rodape {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    .location {
        margin-left: -370px;
        margin-top: -100px;
    }
    .filiais {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .localizacao {
        margin-left: -800px;
        margin-top: 200px;
    }
    .contate-nos {
        margin-left: -500px;
        margin-top: 20px;
        padding: 0;
        button {
            margin: 0;
        }
    }
    .autores {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .createdby {
        margin-left: -500px;
    }
}